# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode9

env:
  - DESTINATION='platform=iOS Simulator,name=iPad Air'
  - DESTINATION='platform=iOS Simulator,name=iPhone 5s'
  - DESTINATION='platform=iOS Simulator,name=iPhone SE'
  - DESTINATION='platform=iOS Simulator,name=iPhone 7'
  - DESTINATION='platform=iOS Simulator,name=iPhone 7 Plus'

script:
  - set -o pipefail && xcodebuild -workspace Example/AssistantKit.xcworkspace -scheme AssistantKit-Example -destination "$DESTINATION" ONLY_ACTIVE_ARCH=NO test | xcpretty
